table{
  border-collapse: collapse;
  margin: auto;
  width: 60%;
  height: 70%;
}
td, th{
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}
th{
  background-color: grey;
}
h1{
  color: yellow;
  background-color: red;
  text-align: center;
}
h2{
  font-weight: bold;
  font-family: Verdana, Tahoma, sans-serif;
}
